.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
src/*.so
src/*.o
src/*.swp
inst/doc
docs/reference/test_painting.txt
docs/reference/test_idfile.txt
docs/reference/test_rec.txt
docs/reference/test.tmrca
vignettes/1000G_aDNA_mask_transv_chr1.anc.gz
vignettes/1000G_aDNA_mask_transv_chr1.mut.gz
